# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yuqiuzha\Desktop\备忘录\2022Q3\Hackathon\Deeplog_tf\DeeplogTF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
